__pycache__/
*.py[cod]
*.bak
.DS_Store

/data/
/data.bak_*
/data_temp/
/path/
/test/
/ckpts/
/projects/mmdet3d_plugin/eeg_vedio/data/
/projects/mmdet3d_plugin/eeg_vedio/ckpts/**/*.pth
/projects/mmdet3d_plugin/eeg_vedio/ckpts/**/*.safetensors
**/logs/
**/tensorboard/
.dist_test/
work_dirs/
tmp_gpu*/
nuscenes-metrics/
*.log

*.pth
*.pt
*.pkl
*.safetensors
*.ckpt
*.onnx
*.npy
*.npz
